fastapi==0.110.3
tortoise-orm[asyncpg]
pydantic
pydantic-settings
pydantic[email]
pytest
aerich
aio-pika
aioredis
dependency-injector
uvicorn
classy-fastapi
pyjwt
passlib
python-json-logger
uuid6
httpx
pytest-asyncio
typer
loguru
logfire[fastapi]
meilisearch-python-sdk